.pr-box{
    
        width:60%;
        height:60%;
        margin:auto;
        margin-top: 1em;
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow-x: auto;
        flex-direction: row;
        flex-wrap: wrap;

}